# Binários e instaladores
TerraformAWS/aws/
TerraformAWS/awscliv2.zip

# Terraform
TerraformAWS/.terraform/
TerraformAWS/**/.terraform/
TerraformAWS/terraform.tfstate
TerraformAWS/terraform.tfstate.backup
TerraformAWS/*.tfvars
